.text-warning-emphasis {
    color: rgb(186, 165, 213);
}

.container{
  background-color: rgba(48, 69, 59, 0.557);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.display-5{
    color:rgb(68, 70, 67)
}

.display-6{
  color: rgb(51, 46, 41)
}

.col-auto{
  color: burlywood
}

body{
  margin:0;
}
