body {
  height: 100vh;
  background-image: url("https://images.unsplash.com/photo-1528604891270-c2d9c3d1fc0b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  font-family: 'Julius Sans One', sans-serif;
  overflow: auto;
}

html {
  background: url(static/img/ferns.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}

.container{
  background-image: url("https://images.unsplash.com/photo-1532153259564-a5f24f261f51?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80.jpg");
  background-size: cover;
  text-align: center;
  width: 60%;
  margin: 8% auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flashes, .choose-two-skills {
  display: flex;
  background-color: transparent;
  flex-wrap: wrap;
  margin: 5% auto;
  width: 60%;
  justify-content: center;
  color: #f7ffcc;
  font-size:large;
  text-align: center;
}


.col-6 h2.burgundy{
  color: #603140 !important;
}

.h2{
  font-size:15px;
  font-family: 'Julius Sans One', sans-serif;
}

.characters{
  font-size: 25px;
  font-weight: 700;
}

.display-6, .skilltitle{
  color: #8B9556;
  font-size:25px;
  font-weight: 600;
}

.roll-stats{
  color: #1f201c;
  font-size:25px;
  font-weight: 600;
}

.namelist li a {
  display: inline-block;
  text-align: center;
  text-align: center;
  margin: 10px 0;
  padding: 10px 20px;
  border: 2px solid #383307;
  background-color:#383307;
  color:#f7ffcc;
  font-size: large;
  text-decoration: none;
  border-radius: 5px;
}

.newlink a {
  display: inline-block;
  margin: 10px 0;
  padding: 10px 20px;
  border: 2px solid #8B9556;
  background-color:#8B9556;
  color: #FFFFFF;
  font-size: 23px;
  text-decoration: none;
  border-radius: 5px;
}

.namelist {
  list-style: none;
  padding: 0;
}

.characterlink .newlink {
  text-align: center;
}

.selecttitle{
  font-weight: 600;
  color:#383307;
  font-size: 25px;
}

.skill-form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-weight: 700;
}


.namebox{
  font-size: small;
  font-weight: 600;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
}


.button-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.stat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.stat-container input[type="number"] {
  width: 50px;
  background-color: transparent;
  border-color:transparent;
  color:#383307;
  font-size: 30px;
  font-weight: 800;
}

.item-drop{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  font-size: smaller;
  font-weight: 600;
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}


input[type=text] {
  padding:10px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:10px;  
  width: 35%;
}

input[type=email] {
  padding:5px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:5px;  
  width: 100%;
}

input[type=password] {
  padding:5px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:5px;  
  width: 100%;
}

input[type=username] {
  padding:5px;
  border:0;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:5px;  
  width: 100%;
}

.homepagesubmit {
  padding:8px;
  border:1;
  border-color: #5d5c5b;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  border-radius:50px;  
  width: 65%;
  font-weight: 600;
  background: radial-gradient(#9db994, #1C3A13);
}

.createsubmit, .skillsubmit {
  padding:8px;
  border:1;
  border-color: #5d5c5b;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  transition: .3s box-shadow;
  border-radius:50px;  
  width: 30%;
  font-weight: 600;
  background: radial-gradient(#9db994, #1C3A13);
}

.createsubmit:hover {
  box-shadow: 0 0 4px rgba(0,0,0, 0.5);
}
.skillsubmit:hover{
  box-sizing: 0 0 4px rgba(0, 0, 0, 0.5);
}

.character-info{
  font-size: 15px;
  font-weight: 700;
  color: #1C3A13;
}

.starting-info{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.classbubble{
  background-image: url("/static/img/greenwatercolor.jpg");
}
.facial-features{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.statistics{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* code for dropdown menus universally */
.dropdown {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 10px;
  gap: 10px;
}

h7 {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 17px;
}

select {
  display: block;
  margin: 0;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
  background-color: #5D6244; 
  color: #000000;
}

select:focus {
  outline: none;
  box-shadow: 0 0 2px 1px #ccc;
  border-color: #999;
}


