.container{
    background-color: #50723C;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  
.display-5{
    color: #D6F7A3;
    font-family: fantasy;
}

.characters{
    color:#603140;
}