{% extends 'base.html' %}
{% block title %}character sheet{% endblock %}

{% block body %}



<div class="container-fluid big p-3 rounded-3">

  <div class="header">
    <figure class="text-center">
        <blockquote class="blockquote">
          <h1 class="display-6">{{ character.character_name }}'s character sheet</h1>
        </blockquote>
        <figcaption class="blockquote-footer">
            <div class="footer">
          make sure everything looks good for <cite title="Source Title">{{ character.character_name }}</cite>
            </div>
        </figcaption>
      </figure>
</div>
<br/>
  <div class="row one">
    <div class="col-4">
      <div class="bubble1">
        <p>Class: <br/><span id="class">{{ character.character_class }}</span></p>
        <p>Race: <br/><span id="race">{{ character.race }}</span></p>
      </div>
    </div>
    <div class="col-4">
      <div class="bubble2">
        <p>Alignment: <br/><span id="alignment">{{ character.alignment }}</span></p>
        <p>Gender: <br/><span id="gender">{{ character.gender }}</span></p>
      </div>
    </div>
    <div class="col-4">
        <div class="bubble3">
        <p>Eyes: <br/><span id="eye-color">{{ character.eye_color }}</span></p>
        <p>Hair: <br/><span id="hair-color">{{ character.hair_color }}</span></p>
        </div>
    </div>  
  </div>

<br/> 

  <div class="row two">
    <div class="col-4">
      <div class="bubble4">
        <span id="languages">
          languages:
          <ul>
              {% for language in character.language.split("+") %}
                  <li>{{language}}</li>
              {% endfor %}
          </ul>
          </span>
          speed: <br/>
          <span id="walking_speed">{{ character.char_walking_speed }}</span>
      </div>
    </div>
    <div class="col-4">
      <div class="bubble4">
        current hp:
        <span id="hit_points">{{ character.current_hit_points }}</span> <br/>
        total hp:
        <span id="total_hit_points">{{ character.total_hit_points }}</span> <br/>
        hit die:
        <span id="hit_dice">{{ character.char_hit_die }}</span> <br/>
        level:
        <span id="character_level">{{ character.char_level }}</span>
      </div>
    </div>
  <div class="col-4">
    <div class="bubble5">
      <span id="skills">
      <p></p>
        {% if "animal-handling" in skills %}
            <p>Animal handling: {{ character.animal_handling }}</p>
        {% endif %}

        {% if "acrobatics" in skills %}
            <p>Acrobatics: {{ character.acrobatics }}</p>
        {% endif %}

        {% if "arcana" in skills %}
            <p>Arcana: {{ character.arcana }}</p>
        {% endif %}                

        {% if "athletics" in skills %}
            <p>Athletics: {{ character.athletics }}</p>
        {% endif %}

        {% if "deception" in skills %}
            <p>Deception: {{ character.deception }}</p>
        {% endif %}                

        {% if "history" in skills %}
            <p>History: {{ character.history }}</p>
        {% endif %}

        {% if "insight" in skills %}
            <p>Insight: {{ character.insight }}</p>
        {% endif %}

        {% if "intimidation" in skills %}
            <p>Intimidation: {{ character.intimidation }}</p>
        {% endif %}

        {% if "investigation" in skills %}
            <p>Investigation: {{ character.investigation }}</p>
        {% endif %}

        {% if "medicine" in skills %}
            <p>Medicine: {{ character.medicine }}</p>
        {% endif %}

        {% if "nature" in skills %}
            <p>Nature: {{ character.nature }}</p>
        {% endif %}

        {% if "perception" in skills %}
            <p>Perception: {{ character.perception }}</p>
        {% endif %}
        
        {% if "performance" in skills %}
            <p>Performance: {{ character.performance }}</p>
        {% endif %}

        {% if "persuasion" in skills %}
            <p>Persuasion: {{ character.persuasion }}</p>
        {% endif %}                
        
        {% if "religion" in skills %}
            <p>Religion: {{ character.religion }}</p>
        {% endif %}

        {% if "sleight-of-hand" in skills %}
            <p>Sleight of hand: {{ character.sleight_of_hand }}</p>
        {% endif %}

        {% if "stealth" in skills %}
            <p>Stealth: {{ character.stealth }}</p>
        {% endif %}

        {% if "survival" in skills %}
            <p>Survival: {{ character.survival }}</p>
        {% endif %}
    </span>

    <div class="savesheetfonts">
        {% if selected_spell != None %}
        <p>{{ selected_spell.spell_name }} 
        {% endif %}
      <br/>
        {{ selected_weapon.weapon_name }}
      <br/>
        {{ selected_item.item_name }}
      <br/>
        {{ selected_armor.armor_name }}
    </div>
  </div>
</div>
</div>
<br/>

<div class="savecharacterlink">
  <div class="newlink" style="text-align: center;">
   <a href="{{ url_for('users_profile') }}">save this character</a>
  </div>
</div>

{% endblock %}