{% extends 'base.html' %}
{% block title %}character profile{% endblock %}

{% block body %}
<h3> this is the character profile page </h3>

<div class="container">
    <div class="row">
        <section>
                <div class="col">
                    <p>Character Name: <span id="char-name">{{ char_name }}</span></p>
                    <p>Class: <span id="class">{{ dun_class }}</span></p>
                    <p>Race: <span id="race">{{ race }}</span></p>
                    <p>Alignment: <span id="alignment">{{ alignment }}</span></p>
                    <p>Gender: <span id="gender">{{ gender }}</span></p>
                    <p>Eye Color: <span id="eye-color">{{ eye_color }}</span></p>
                    <p>Hair Color: <span id="hair-color">{{ hair_color }}</span></p>
                </div>
        </section>
        <p></p>
        <section>
            <div class="row">
                <div class="col-3">
                    <p>wisdom: </p>
                    <p>charisma: </p>
                    <p>intelligence: </p>
                    <p>dexterity: </p>
                    <p>constitution: </p>
                    <p>strength: </p>
                </div>

                <!-- <div class="col-3">
                    <p>level: </p>
                    <p>experience: </p>
                    <p>ac: </p>
                    <p>condition: </p>
                    <p>language: </p>
                    <p>current hit points: </p>
                    <p>total hit points: </p>
                    <p>proficiency bonus: </p>
                    <p>initiative: </p>
                </div>

                <div class="col-3">
                    <p>walking speed: </p>
                    <p>passive wisdom: </p>
                    <p>passive perception: </p>
                    <p>passive insight: </p>
                    <p>inspiration: </p>
                    <p>acrobatics: </p>
                    <p>sleight of hand: </p>
                    <p>stealth: </p>
                    <p>religion: </p>
                    <p>nature: </p>
                    <p>history: </p>
                    <p>arcana: </p>
                    <p>invesigation: </p>
                    <p>persuasion: </p>
                    <p>performance: </p>
                    <p>intimidation: </p>
                    <p>deception: </p>
                    <p>animal handling: </p>
                    <p>insight: </p>
                    <p>medicine: </p>
                    <p>perception: </p>
                    <p>survival: </p>
                    <p>athletics: </p>
                </div> -->
            </div>
        </section>    
    </div>
</div>
{% endblock %}