{% extends 'base.html' %}
{% block title %}create character{% endblock %}

{% block body %}
<h1>this is the creation page</h1>
<h4>side bar</h4>
    <div class="container-fluid">
        ...
    </div>
    <ul>
        <li>add form to pick class</li>
        <li>add form to pick race</li>
        <li>add form to input backstory</li>
        <li>add form to pick spells for slots if magic user</li>
        <li>add form to input character name</li>
        <li>add form for alignment</li>
        <li>add form for experience</li>
        <li>etc for all character sheet inputs...</li>
    </ul>
{% endblock %}