{% extends 'base.html' %}
{% block title %}dungeon account{% endblock %}
<head>
  <link rel="stylesheet" type="text/css" href="stylesheet.css">
</head>
{% block body %}


<center>
<h1 class="display-5">Welcome to the dungeon!</h1>
</center>
<p></p>
<div class="container p-3 text-warning-emphasis bg-success-subtle border border-success-subtle rounded-3">
  <div class="row">
    <div class="col">
    <h2 class="display-6 align">Log In</h2>
      <form action="/login" method="POST">
        <p>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="inputEmail5" class="form-label">email:</label>
                <input type="email" class="form-control" name="email">
            </div>
          </div>  
        </p>
        <div class="row g-3 align-items-center">
          <div class="col-auto">
            <label for="inputPassword5" class="form-label">password:</label>
              <input type="password" class="form-control" name="password">
          </div>
        </div> 
        <p>
          <input type="submit" value="let's roll">
        </p>
      </form>  
    </div>
    <div class="col">  
    <h2 class="display-6">Create an Account</h2>
      <form action="/users" method="POST">
          <p>
            <div class="row g-3 align-items-center">
              <div class="col-auto">
                <label for="inputEmail5" class="form-label">email:</label>
                  <input type="email" class="form-control" name="email">
              </div>
            </div>  
          </p>
          <div class="row g-3 align-items-center">
            <div class="col-auto">
              <label for="inputPassword5" class="form-label">password:</label>
                <input type="password" class="form-control" name="password">
            </div>
          </div> 
          <p>
            <input type="submit" value="create">
          </p>
      </form>
  </div>
  </div>
</div>
{% endblock %}
