{% extends 'base.html' %}

{% block title %}Dungeon Welcoming{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css" href="/static/css/stylesheet.css">

{% endblock %}

{% block body %}

<div class="container-fluid p-3 rounded-3">
  <div class="row">
    <div class="col mx-auto" style="text-align: center;">
      <h2 style="color:#ffffff !important"> Log In </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <form action="/login" method="POST">
        <center>
          <label for="inputEmail5" class="form-label">  </label>
            <input type="email" class="form-control" name="email" placeholder="email" />
        </center>
    </div>
  </div>
  <div class="row g-3">
    <div class="col-4" style="margin-left:auto;margin-right:auto;">
      <center>
        <label for="inputPassword5" class="form-label"> </label>
          <input type="password" class="form-control" name="password" placeholder="password" />
      </center>
    </div>
  </div> 
    <div class="row g-3">
      <div class="col-4" style="margin-left:auto;margin-right:auto;">
        <center>
          <label for="inputUsername5" class="form-label">  </label>
            <input type="username" class="form-control" name="username" placeholder="username" />
            <br>
            <input type="submit" value="let's roll" class="homepagesubmit">
        </center>
      </div>
    </div> 
  </form>  
<br/>
  <div class="row">
    <div class="col mx-auto" style="text-align: center;">  
      <h2 style="color:#ffffff !important">Create an Account</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <form action="/users" method="POST">
        <center>
          <label for="inputEmail5" class="form-label">  </label>
            <input type="email" class="form-control" name="email" placeholder="email" />
        </center>
    </div>
  </div>  
  <div class="row g-3">
    <div class="col-4" style="margin-left:auto;margin-right:auto;">
      <center>
        <label for="inputUsernmae5" class="form-label">  </label>
          <input type="username" class="form-control" name="username" placeholder="username" />
        </center>
    </div>
  </div>  
  <div class="row g-3 ">
    <div class="col-4" style="margin-left:auto;margin-right:auto;">
      <center>
        <label for="inputPassword5" class="form-label">  </label>
          <input type="password" class="form-control" name="password" placeholder="password" />
          <br>
          <input type="submit" value="create" class="homepagesubmit">
      </center>
    </div>
  </div> 
  </form>
 </div>
</div>
{% endblock %}
 