{% extends 'base.html' %}
{% block title %}dungeon account{% endblock %}

{% block head %}
 
{% endblock %}

{% block body %}
<link rel="stylesheet" type="text/css" href="/static/css/user_profile.css">

<br>
<br>
<center>
    <h1 class="display-5">Welcome back, {{ username }}!</h1>
</center>
<br>
<br>
<div class="container p-3 rounded-3">
  <h2 class="characters"  style="text-align: center;">Current characters: </h2>
  <ul>
    {% for character in characters %}
      <li><a href="{{ url_for('character_info', character_id=character.character_id) }}"">{{ character.character_name }}</a></li>
    {% endfor %}
  </ul>
  <div class="newlink"  style="text-align: center;">
    <a href="{{ url_for('create_character') }}">CREATE NEW CHARACTER</a>
  </div>
</div>
{% endblock %}
